



<!-- Contact Form Section -->
<div class="container space-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2>{{ entry.contactHeading }}</h2>
    <p>{{ entry.contactDiscription }}</p>
  </div>
  <!-- End Title -->

  <div class="w-lg-80 mx-auto">
    
    {{ craft.formie.renderForm('contactUs') }}

    <!-- End Contacts Form -->
  </div>
</div>
<!-- End Contact Form Section -->
